{% load static thumbnail %}

<div class="{% if is_card %}w-100 {% else %}col-lg-6 col-xl-4 col-md-12 mb-3 {% endif %}">

    <div class="card shadow h-100">
        <a href="{% url 'pit_detail' pit_id=pit.id %}">
            {% if pit.images.first %}
                {% thumbnail pit.images.first.image "540x340" crop="center" as im %}
                    <img src="{{ im.url }}" width="100%">
                {% endthumbnail %}
            {% else %}
                <img src="{% static "images/no-pit-photo.png" %}" width="100%"
                     alt="">

            {% endif %}

        </a>
        <div class="object-mark done shadow-sm">
            {% if pit.status.status == 'done' %}
                <img src="/static/images/statuses/marker_done_mark.svg"
                     alt=""> <span>Устранено</span>
            {% elif pit.status.status == 'on_police' %}
                <img src="/static/images/statuses/marker_onpolice_mark.svg"
                     alt=""> <span>В полиции</span>
            {% elif pit.status.status == 'police_discard' %}
                <img src="/static/images/statuses/marker_denied_mark.svg"
                     alt=""> <span>Отказано</span>
            {% elif pit.status.status == 'on_plane' %}
                <img src="/static/images/statuses/marker_remote_mark.svg"
                     alt=""> <span>Ремонт запланирован</span>
            {% elif pit.status.status == 'police_no_answer' %}
                <img src="/static/images/statuses/marker_noresponse_mark.svg"
                     alt=""> <span>Нет ответа</span>
            {% elif pit.status.status == 'moderate' %}
                <img src="/static/images/statuses/marker_moderation_mark.svg"
                     alt=""> <span>На модерации</span>
            {% endif %}
        </div>
        <div class="card-body">

            <div class="card-info-top">
                <p class="card-text"><small
                        class="text-muted"><strong
                        class="like-quantity">{{ pit.created | date:"d.m.Y" }}</strong></small>
                </p>
                {#                TODO: рельзнуть потом счётчик лайков#}
                <button class="btn card-btn active">
                                        <span class="card-icon"><i
                                                class="bi bi-hand-thumbs-up"></i></span>
                    0
                </button>


            </div>
            <a class="card-title-link"
               href="{% url 'pit_detail' pit_id=pit.id %}">
                <p class="h5 card-title">{{ pit.address }}</p>
            </a>

            <div class="d-flex justify-content-between">
                <p class="card-text d-inline"><small
                        class="text-muted">от</small>
                    <span> <a
                            class="text-author"
                            href="/"> {{ pit.author }}</a></span>
                </p>
            </div>


        </div>
    </div>
</div>