{% load get_list %}
{% load static %}


<div class="block shadow">
                    <form>
                        <div class="row">

                            <div class="mb-4 col-6  ">
                                <input type="checkbox" class="btn-check"
                                       {% if 'moderate' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-moderation"
                                       autocomplete="off" name="markers" value="moderate">
                                <label class="btn btn-outline-yama check-status bg-moderation"
                                       for="btn-check-moderation"><span
                                        class="w-100 text-center">На модерации</span></label>
                            </div>
                            <div class="mb-4 col-6 ">
                                <input type="checkbox" class="btn-check" name="markers"
                                       {% if 'on_plane' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-remote" autocomplete="off" value="on_plane">
                                <label class="btn btn-outline-yama check-status bg-remote"
                                       for="btn-check-remote"><span
                                        class="w-100 text-center">Ремонт запланирован</span></label><br>
                            </div>
                            <div class="mb-4 col-6  no-gutters">
                                <input type="checkbox" class="btn-check"
                                       {% if 'on_police' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-onpolice" name="markers"
                                       autocomplete="off" value="on_police">
                                <label class="btn btn-outline-yama check-status bg-onpolice"
                                       for="btn-check-onpolice"><span
                                        class="w-100 text-center">В полиции</span></label><br>
                            </div>
                            <div class="mb-4 col-6 no-gutters">
                                <input type="checkbox" class="btn-check" name="markers"
                                       {% if 'done' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-done" autocomplete="off" value="done">
                                <label class="btn btn-outline-yama check-status bg-done"
                                       for="btn-check-done"><span
                                        class="w-100 text-center">Устранено</span></label><br>
                            </div>
                            <div class="mb-4 col-6  no-gutters">
                                <input type="checkbox" class="btn-check"
                                       {% if 'police_no_answer' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-noresponse" name="markers"
                                       autocomplete="off" value="police_no_answer">
                                <label class="btn btn-outline-yama check-status bg-noresponse"
                                       for="btn-check-noresponse"><span
                                        class="w-100 text-center">Нет ответа</span></label><br>
                            </div>
                            <div class="mb-4 col-6 no-gutters">
                                <input type="checkbox" class="btn-check" name="markers"
                                       {% if 'police_discard' in request.GET|get_list:'markers' %}checked{% endif %}
                                       id="btn-check-denied" autocomplete="off" value="police_discard">
                                <label class="btn btn-outline-yama check-status bg-denied w-100"
                                       for="btn-check-denied"><span
                                        class="w-100 text-center">Отказано</span></label>
                            </div>

                        </div>

                        <div class="mb-4">
                            <select class="form-select" name="region">
                                <option value="">Выберите область</option>
                                <option {% if request.GET.region == 'Нур-Султан' %}selected{% endif %}>Нур-Султан</option>
                                <option {% if request.GET.region == 'Алматы' %}selected{% endif %}>Алматы</option>
                                <option {% if request.GET.region == 'Шымкент' %}selected{% endif %}>Шымкент</option>
                                <option {% if request.GET.region == 'Акмолинская область' %}selected{% endif %}>Акмолинская область</option>
                                <option {% if request.GET.region == 'Актюбинская область' %}selected{% endif %}>Актюбинская область</option>
                                <option {% if request.GET.region == 'Алматинская область' %}selected{% endif %}>Алматинская область</option>
                                <option {% if request.GET.region == 'Атырауская область' %}selected{% endif %}>Атырауская область</option>
                                <option {% if request.GET.region == 'Восточно-Казахстанская область' %}selected{% endif %}>Восточно-Казахстанская область</option>
                                <option {% if request.GET.region == 'Жамбылская область' %}selected{% endif %}>Жамбылская область</option>
                                <option {% if request.GET.region == 'Западно-Казахстанская область' %}selected{% endif %}>Западно-Казахстанская область</option>
                                <option {% if request.GET.region == 'Карагандинская область' %}selected{% endif %}>Карагандинская область</option>
                                <option {% if request.GET.region == 'Костанайская область' %}selected{% endif %}>Костанайская область</option>
                                <option {% if request.GET.region == 'Кызылординская область' %}selected{% endif %}>Кызылординская область</option>
                                <option {% if request.GET.region == 'Мангистауская область' %}selected{% endif %}>Мангистауская область</option>
                                <option {% if request.GET.region == 'Павлодарская область' %}selected{% endif %}>Павлодарская область</option>
                                <option {% if request.GET.region == 'Северо-Казахстанская область' %}selected{% endif %}>Северо-Казахстанская область</option>
                                <option {% if request.GET.region == 'Туркестанская область' %}selected{% endif %}>Туркестанская область</option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <input type="text" class="form-control"
                                   name="city" value="{{ request.GET.city }}"
                                   placeholder="Введите город">
                        </div>

                        <div class="mb-4">
                            <select class="form-select" name="pit_type">
                                <option value="">Выберите тип</option>
                                <option value="on_road" {% if request.GET.pit_type == 'on_road' %}selected{% endif %}>Яма на дороге</option>
                                <option value="on_yard" {% if request.GET.pit_type == 'on_yard' %}selected{% endif %}>Яма во дворе</option>
                            </select>
                        </div>

                        <div class="mb-4 d-none">
                            <select class="form-select" name="status">
                                <option value="">Выберите статус</option>
                                <option value="moderate">На модерации</option>
                                <option value="on_police">В полиции</option>
                                <option value="no_answer">Нет ответа</option>
                                <option value="on_plane">Ремонт запланирован
                                </option>
                                <option value="discard">Отказано</option>
                                <option value="done">Отремонтировано</option>
                            </select>
                        </div>

                        <div class="form-check" style="line-height: 32px;">
                            <input type="checkbox"
                                   {% if request.GET.photo == 'on' %}checked{% endif %}
                                   class="form-check-input d-block"
                                   id="checkPhoto" name="photo">
                            <label class="form-check-label d-flex"
                                   for="checkPhoto">
                                C фотографией
                            </label>
                        </div>

                    {% if user.is_authenticated %}
                        <div class="form-check" style="line-height: 32px;">
                            <input type="checkbox"
                                   {% if request.GET.onlyMy == 'on' %}checked{% endif %}
                                   class="form-check-input d-block"
                                   id="onlyMy" name="onlyMy">
                            <label class="form-check-label d-flex"
                                   for="onlyMy">Только мои
                            </label>
                        </div>
                    {% endif %}

                        <p class="errors text-danger text-center"
                           style="font-size: 0.8em;"></p>

                        <button type="submit"
                                class="btn btn-danger w-100">
                            Применить
                        </button>


                    </form>
                </div>






{#<div class="block filter-block p-0">#}
{#          <div class="accordion filter" id="filter_block">#}
{#            <div class="accordion-item">#}
{#              <h2 class="accordion-header d-block d-md-none" id="headOne">#}
{#                <button class="accordion-button filter-block head mb-0 mb-md-3" type="button" data-bs-toggle="collapse" data-bs-target="#filtercollapseOne" aria-expanded="true" aria-controls="filtercollapseOne">#}
{#                  Фильтр#}
{#                </button>#}
{#              </h2>#}
{#              <div id="filtercollapseOne" class="collapse show" aria-labelledby="headOne" data-bs-parent="#filter_block">#}
{#                <div class="accordion-body">#}
{#                  <form class="row filter-body">#}
{#                    <div class="filter-item col-md-12 col-sm-6 col-md-12 col-sm-6">#}
{#                      <div class="accordion filter" id="filter_statuses">#}
{#                        <div class="accordion-item">#}
{#                          <h2 class="accordion-header" id="headingOne">#}
{#                            <button class="accordion-button filter-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">#}
{#                              Статус обработки#}
{#                            </button>#}
{#                          </h2>#}
{#                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#filter_statuses">#}
{#                            <div class="accordion-body">#}
{#                              <div class="row check-status-box">#}
{#                                <div class="form-group">#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input onmod"#}
{#                                           id="onMod" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="onMod">#}
{#                                        На модерации#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input onpolice"#}
{#                                           id="onPolice" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="onPolice">#}
{#                                        В полиции#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input onremote"#}
{#                                           id="onRemote" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="onRemote">#}
{#                                        Ремонт запланирован#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input done"#}
{#                                           id="done" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="done">#}
{#                                        Устранено#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input noresponse"#}
{#                                           id="noResponse" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="noResponse">#}
{#                                        Нет ответа#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input denied"#}
{#                                           id="denied" name="status">#}
{#                                    <label class="form-check-label"#}
{#                                           for="denied">#}
{#                                        Отказано#}
{#                                    </label>#}
{#                                  </div>#}
{#                                </div>#}
{##}
{#                              </div>#}
{#                            </div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="filter-item col-md-12 col-sm-6">#}
{#                      <div class="accordion filter" id="filter_defects">#}
{#                        <div class="accordion-item">#}
{#                          <h2 class="accordion-header" id="headingTwo">#}
{#                            <button class="accordion-button filter-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
{#                              Тип повреждения#}
{#                            </button>#}
{#                          </h2>#}
{#                          <div id="collapseTwo" class=" collapse  show" aria-labelledby="headingTwo" data-bs-parent="#filter_defects">#}
{#                            <div class="accordion-body">#}
{#                              <div class="row check-status-box">#}
{#                                <div class="form-group">#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input"#}
{#                                           id="pothole" name="typeDefect">#}
{#                                    <label class="form-check-label"#}
{#                                           for="pothole">#}
{#                                        Выбоина(яма)#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input"#}
{#                                           id="roadRut" name="typeDefect">#}
{#                                    <label class="form-check-label"#}
{#                                           for="roadRut">#}
{#                                        Волновой сдвиг (стиральная доска)#}
{#                                    </label>#}
{#                                  </div>#}
{#                                  <div class="form-check">#}
{#                                    <input type="checkbox" class="form-check-input"#}
{#                                           id="roadShift" name="typeDefect">#}
{#                                    <label class="form-check-label"#}
{#                                           for="roadShift">#}
{#                                        Колея#}
{#                                    </label>#}
{#                                  </div>#}
{#                                </div>#}
{##}
{#                              </div>#}
{#                            </div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="filter-item col-md-12 col-sm-6">#}
{#                      <label for="region" class="filter-label">Область</label>#}
{#                        <select class="form-select" name="region">#}
{#                            <option value="">Выберите область</option>#}
{#                            <option>Акмолинская область</option>#}
{#                            <option>Актюбинская область</option>#}
{#                            <option>Алматинская область</option>#}
{#                            <option>Атырауская область</option>#}
{#                            <option>Восточно-Казахстанская область</option>#}
{#                            <option>Жамбылская область</option>#}
{#                            <option>Западно-Казахстанская область</option>#}
{#                            <option>Карагандинская область</option>#}
{#                            <option>Костанайская область</option>#}
{#                            <option>Кызылординская область</option>#}
{#                            <option>Мангистауская область</option>#}
{#                            <option>Павлодарская область</option>#}
{#                            <option>Северо-Казахстанская область</option>#}
{#                            <option>Туркестанская область</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="filter-item col-md-12 col-sm-6">#}
{#                      <label for="city" class="filter-label">Город</label>#}
{#                        <input type="text" class="form-control"#}
{#                               name="city"#}
{#                               placeholder="Введите город">#}
{#                    </div>#}
{##}
{#                    <div class="filter-item col-md-12 col-sm-6">#}
{#                      <span class="filter-label">Дополнительно</span>#}
{#                      <div class="form-group">#}
{#                        <div class="form-check">#}
{#                          <input type="checkbox" class="form-check-input"#}
{#                                 id="checkPhoto" name="photo">#}
{#                          <label class="form-check-label"#}
{#                                 for="checkPhoto">#}
{#                              C фотографией#}
{#                          </label>#}
{#                        </div>#}
{#                        <div class="form-check">#}
{#                          <input type="checkbox" class="form-check-input"#}
{#                                 id="checkUserReques" name="request">#}
{#                          <label class="form-check-label"#}
{#                                 for="checkUserReques">#}
{#                              Только мои запросы#}
{#                          </label>#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{##}
{#                    <p class="errors text-danger text-center"style="font-size: 0.8em;"></p>#}
{#                    <div class="row g-1">#}
{#                      <div class="col-md-12 col-sm-6">#}
{#                        <button type="submit" class="btn btn-danger w-100 mb-2">#}
{#                          Применить <i class="bi bi-arrow-repeat"></i>#}
{#                        </button>#}
{#                      </div>#}
{#                      <div class="col-md-12 col-sm-6">#}
{#                        <button type="submit" class="btn btn-sec-white w-100 mb-2">#}
{#                          Сбросить <i class="bi bi-x"></i>#}
{#                        </button>#}
{#                      </div>#}
{#                    </div>#}
{#                  </form>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{##}
{##}
{##}
{#        </div>#}