button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;

  position: relative;
  //width: 185px;
  //height: 40px;

  border: 1px solid #F22222;
  box-sizing: border-box;
  border-radius: 3px;

  color: #F22222;
  background: transparent;
  cursor: pointer;

  font-size: 14px;

  transition: all 0.2s;
}


button:hover {
  background: #F25050;
  border-color: #F25050;
  color: white;
}


button:focus {
  box-shadow: 0 0 3px 1px #F25050;
  outline: none;
}
