{% extends "base.html" %}


{% block title %}{% endblock %}

{% block content %}
<section id="wrapper" class="container-fluid">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger">404</h1>
                <h3>Страница не найдена !</h3>
                <p class="text-muted m-t-30 m-b-30">Страница находиться в разработке или где то произошла ошибка </p>
                <a href="/" class="btn btn-danger btn-rounded m-b-40">Вернуться на главную</a> </div>
            
        </div>
    </section>

{% endblock %}