{% extends "base.html" %}
{% load get_list %}
{% load static active_link_tags %}


{% block title %}{% endblock %}

{% block extra_head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=9814077a-013e-4cc3-884c-b39c3dfa1168"
            type="text/javascript"></script>
    {% if not is_list %}

        <script type="application/javascript">
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map('map', {
                        center: [43.238293, 76.945465],
                        zoom: 12
                    }, {
                        autoFitToViewport: 'always',
                        searchControlProvider: 'yandex#search'
                    }),
                    objectManager = new ymaps.ObjectManager({
                        // Чтобы метки начали кластеризоваться, выставляем опцию.
                        clusterize: true,
                        // ObjectManager принимает те же опции, что и кластеризатор.
                        gridSize: 32,
                        clusterDisableClickZoom: true
                    });


                // Чтобы задать опции одиночным объектам и кластерам,
                // обратимся к дочерним коллекциям ObjectManager.
                objectManager.objects.options.set('preset', 'islands#redDotIcon');
                objectManager.clusters.options.set('preset', 'islands#redClusterIcons');
                myMap.geoObjects.add(objectManager);
                objectManager.add({{ map_pits | safe }})
                /* $.ajax({
                    url: "/pits/maps/list/"
                }).done(function (data) {
                    objectManager.add(data);
                }); */

            }
        </script>
    {% endif %}
    <style>
        #map {
            width: 100%;
            height: calc(100vh - 94px - 78px - 60px);
            padding: 0;
            margin: 0;
        }
    </style>


{% endblock %}
{% block content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-xl-3 col-lg-4 col-md-5">
                {% include 'yama/ui/pit-filters.html' %}
            </div>


            <div class="col-lg-8 col-md-7 col-xl-9">
                <div class="shadow block d-flex justify-content-between mb-3 align-items-center">
                    <span class="founded-label">Найдено: <i>{{ pits.count }} ям</i></span>
                    <ul class="nav justify-content-end">

                        <li class="nav-item mr-2">
                            <a class="btn btn-lg change_vis_btn y-bg-gray {% active_link 'index' %}"
                               href="{% url 'index' %}?{{ request.GET.urlencode }}">
                                <i class="bi bi-map-fill"></i> Карта
                            </a>
                        </li>
                        <li class="nav-item mx-0">
                            <a class="btn change_vis_btn y-bg-gray {% active_link 'pit_list' %}"
                               href="{% url 'pit_list' %}?{{ request.GET.urlencode }}">
                                <i class="bi bi-grid-fill"></i> Список
                            </a>
                        </li>

                    </ul>
                </div>

                {% if not is_list %}
                    <div class="row mb-4">
                        <div class="col">
                        </div>

                        <div class="w-100"></div>
                        <div class="col">
                            <div class="map shadow">
                                <div id="map"></div>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="row">

                        {% for pit in page_obj %}
                            {% include 'yama/ui/pit-item.html' with pit=pit %}
                        {% endfor %}


                    </div>

                    <div class="pagination text-center">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo;</a>
                            <a href="?page={{ page_obj.previous_page_number }}"><</a>
                        {% endif %}

                        <div class="current mx-auto">
                            Страница {{ page_obj.number }}
                            из {{ page_obj.paginator.num_pages }}
                        </div>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">></a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                        {% endif %}
                    </div>

                {% endif %}

            </div>

        </div>
    </div>

{% endblock %}


