{% extends "base.html" %}


{% block title %}{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                {% include 'yama/ui/pit-filters.html' %}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for pit in page_obj %}
                        {% include 'yama/ui/pit-item.html' with pit=pit %}
                    {% endfor %}
                </div>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>

    </div>
{% endblock %}