{% extends "base.html" %}

{% block title %}Добавление ямы -{% endblock %}

{% block extra_head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=9814077a-013e-4cc3-884c-b39c3dfa1168"
            type="text/javascript"></script>

    <script type="application/javascript">
        ymaps.ready(init);

        function init() {
            var myPlacemark;
            var myMap = new ymaps.Map('map', {
                center: [43.238293, 76.945465],
                zoom: 12
            }, {
                autoFitToViewport: 'always',
                searchControlProvider: 'yandex#search'
            });

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');
                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);
            });

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#redDotIconWithCaption',
                    draggable: true
                });
            }

            // Определяем адрес по координатам (обратное геокодирование).
            function getAddress(coords) {
                $('#id_latitude').val(coords[0]);
                $('#id_longitude').val(coords[1]);
                console.log(coords);
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);

                    console.log(firstGeoObject.getAdministrativeAreas());
                    $('#id_city').val(firstGeoObject.getLocalities()[0]);
                    $('#id_region').val(firstGeoObject.getAdministrativeAreas()[0]);
                    $('#id_address').val(firstGeoObject.getAddressLine());
                    $('#addressText').text(firstGeoObject.getAddressLine());

                    myPlacemark.properties
                        .set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [
                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: firstGeoObject.getAddressLine()
                        });
                });
            }
        }
    </script>

    <style>
        #map {
            width: 100%;
            height: calc(450px);
            padding: 0;
            margin: 0;
        }
    </style>


{% endblock %}

{% block content %}
    <style>
        .downloadedPhotos {
            width: 100px;
            height: 100px;
            overflow: hidden;
        }

        .downloadedPhotos img {
            width: 100%;
            height: auto;
        }
    </style>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <h3>Добавление ямы</h3>


                <form id="addPitForm" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="latitude" id="id_latitude">
                    <input type="hidden" name="longitude" id="id_longitude">
                    <input type="hidden" name="city" id="id_city">
                    <input type="hidden" name="region" id="id_region">
                    <input type="hidden" name="address" id="id_address">

                    <h5>Укажите местоположение ямы на карте</h5>
                    <div id="map"></div>

                    <p id="addressText" class="text-secondary mt-3"></p>
                    <div class="mb-3">
                        <textarea type="text" class="form-control"
                                  maxlength="100"
                                  name="place_description" autocomplete="off"
                                  placeholder="Описание расположения"></textarea>
                    </div>

                    <h5>Опишите тип повреждения</h5>
                    <div class="mb-3">
                        <select class="form-select" name="pit_type">
                            <option value="">Выберите тип</option>
                            <option value="on_road">Яма на дороге</option>
                            <option value="on_yard">Яма во дворе</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <textarea type="text" class="form-control"
                                  name="pit_description" autocomplete="off"
                                  placeholder="Оставьте комментарий к тексту обращения"
                                  maxlength="200"></textarea>
                    </div>

                    <h5>Загрузите фотографии ямы</h5>
                    <div id="photos" class="row"></div>

                    <input type='file' id="imgInp" name="pit_image[]" multiple/>
                    <p class="text-secondary">Можно загружать до пяти
                        фотографий</p>

                    <p class="errors text-danger text-center"
                       style="font-size: 0.8em;"></p>

                    <button type="submit"
                            class="btn btn-danger w-100">
                        Добавить
                    </button>


                </form>
            </div>


            <div class="col-md-4 mt-3 mt-md-0">
                <h4>Добавление ямы</h4>
                <p>
                    1. После добавления ямы модератор проверит обращение и
                    отправит
                    его через интернет-приёмную на сайте Акимата Алматы.
                    {#                    Там требуются#}
                    {#                    данные#}
                    {#                    заявителя, поэтому мы спрашиваем ваши имя и фамилию при#}
                    {#                    регистрации. #}
                    Нам нужен email — чтобы переслать вам ответ
                </p>
                <p>
                    2.
                    {#                    Региональное управление  получит обращение и#}
                    {#                    переправит#}
                    {#                    его в нужный территориальный отдел.#}
                    Сотрудники отдела выедут на проверку ямы
                </p>
                <p>
                    3. Акимат выдаст предписание на ремонт
                    {#                    3. Если яма превышает допустимые размеры, то отдел #}
                    {#                    установит ответственного, заведет административное дело и#}
                    {#                    выдаст#}
                    {#                    предписание на ремонт#}
                </p>
                <p>
                    4. Подрядчик должен исполнить предписание.
                    {#                    в течение 12 дней.#}
                    Если он этого не сделает, мы отправим повторное обращение в
                    Акимат Алматы и попросим проверить исполнение
                </p>
                {#                <p>#}
                {#                    5. В этой ситуации поможет жалоба в региональную#}
                {#                    прокуратуру,#}
                {#                    которая должна проверить, почему предписание не выполнено, и#}
                {#                    обязать подрядчика сделать ремонт#}
                {#                </p>#}
            </div>
        </div>
    </div>






    <script>
        {% if user.is_authenticated %}
            var photos;
            $('#addPitForm').submit(function (e) {

                $.ajax({
                    type: "POST",
                    url: '{% url 'pit_add' %}',
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response['success']) {
                            document.location.href = '/pits/' + response['pit_id'] + '/';
                        } else {
                            $('#addPitForm .errors').text(response['error']);
                        }

                    }
                });
                e.preventDefault();
            });

            function readURL(input) {
                for (file of input.files) {
                    if (file) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#photos').html($('#photos').html() + `<div class="downloadedPhotos"><img src="${e.target.result}" alt="downloading image" /></div>`);
                        }
                        reader.readAsDataURL(file); // convert to base64 string

                    }
                }
            }

            $("#imgInp").change(function () {
                $('#photos').html('');
                readURL(this);
            });
        {% endif %}
    </script>

{% endblock %}