{% extends "base.html" %}
{% load thumbnail %}

{% block extra_head %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=9814077a-013e-4cc3-884c-b39c3dfa1168"
            type="text/javascript"></script>
    {% if not is_list %}

        <script type="application/javascript">
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map('map', {
                        center: [{{ pit.latitude }}, {{ pit.longitude }}],
                        zoom: 16
                    }, {
                        autoFitToViewport: 'always',
                        searchControlProvider: 'yandex#search'
                    }),
                    objectManager = new ymaps.ObjectManager({
                        // Чтобы метки начали кластеризоваться, выставляем опцию.
                        clusterize: true,
                        // ObjectManager принимает те же опции, что и кластеризатор.
                        gridSize: 32,
                        clusterDisableClickZoom: true
                    });


                // Чтобы задать опции одиночным объектам и кластерам,
                // обратимся к дочерним коллекциям ObjectManager.
                objectManager.objects.options.set('preset', 'islands#redDotIcon');
                objectManager.clusters.options.set('preset', 'islands#redClusterIcons');
                myMap.geoObjects.add(objectManager);
                objectManager.add({{ map_pits | safe }})
                /* $.ajax({
                    url: "/pits/maps/list/"
                }).done(function (data) {
                    objectManager.add(data);
                }); */

            }
        </script>
    {% endif %}
    <style>
        #map {
            width: 100%;
            height: 320px;
            padding: 0;
            margin: 0;
        }
    </style>


{% endblock %}

{% block content %}
    <main class="card-page">
        <div class="container">
            <div class="row py-4">
                <div class=" col-lg-6 pr-50">
                    <div>
                        <div class="card-page-head">
                            <h1 class="card-page-label mb-0">
                                Яма №{{ pit.id }}</h1>
                            <h3><span
                                    class="card-adress">{{ pit.address }}</span>
                            </h3>
                            <div class="d-flex">
                                <div class="mark remote shadow-sm ">
                                    {% if pit.status.status == 'done' %}
                                        <img src="/static/images/statuses/marker_done_mark.svg"
                                             alt=""> <span>Устранено</span>
                                    {% elif pit.status.status == 'on_police' %}
                                        <img src="/static/images/statuses/marker_onpolice_mark.svg"
                                             alt=""> <span>В полиции</span>
                                    {% elif pit.status.status == 'police_discard' %}
                                        <img src="/static/images/statuses/marker_denied_mark.svg"
                                             alt=""> <span>Отказано</span>
                                    {% elif pit.status.status == 'on_plane' %}
                                        <img src="/static/images/statuses/marker_remote_mark.svg"
                                             alt="">
                                        <span>Ремонт запланирован</span>
                                    {% elif pit.status.status == 'police_no_answer' %}
                                        <img src="/static/images/statuses/marker_noresponse_mark.svg"
                                             alt=""> <span>Нет ответа</span>
                                    {% elif pit.status.status == 'moderate' %}
                                        <img src="/static/images/statuses/marker_moderation_mark.svg"
                                             alt=""> <span>На модерации</span>
                                    {% endif %}
                                </div>
                                <div class="right-block-info">
                                    <p class="card-text"><small
                                            class="text-muted">Добавлено <strong
                                            class="like-quantity">{{ pit.created | date:"d.m.Y" }}</strong></small>
                                    </p>
                                    <p class="card-text d-inline"><small
                                            class="text-muted">от</small> <span> <a
                                            class="text-author"
                                            href="#"> {{ pit.author }} </a></span>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="desc">
                            <h4 class="label-title">Описание расположения</h4>
                            <p>
                                {{ pit.place_description }}
                            </p>
                        </div>
                        <div class="desc">
                            <h4 class="label-title">Описание неисправности</h4>
                            <p>
                                {{ pit.pit_description }}
                            </p>
                        </div>
                        <div class="row features-row">
                            <div class="col ">
                                <div class="parameter-label">
                                    <span>Поддержали</span></div>
                                <div class="label-value">
                                    <div class="card-page-value">
                                        <span class="card-icon"><i
                                                class="bi bi-hand-thumbs-up-fill"></i></span>
                                        {#                                        TODO:  поменять на живое#}
                                        <span class="value">12</span>
                                    </div>
                                </div>
                                <div class="card-page-btns">
                                    <button class="btn btn-sec-accent primary"
                                            type="submit" data-bs-toggle="modal"
                                            data-bs-target="#registrationModal">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Поддержать
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="parameter-label">
                                    <span>Поделились</span></div>
                                <div class="label-value">
                                    <div class="card-page-value">
                                        <span class="card-icon"><i
                                                class="bi bi-reply-fill"></i></span>
                                        {#                                        TODO:  поменять на живое#}
                                        <span class="value">3</span>
                                    </div>
                                </div>
                                <div class="card-page-btns">
                                    <button class="btn btn-sec-accent primary"
                                            type="submit"><i
                                            class="bi bi-reply"></i>
                                        Поделиться
                                    </button>
                                </div>
                            </div>
                            <div class="col"></div>
                        </div>

                        <div class="history">
                            <h4 class="label-title">История запроса</h4>



                            {% for status in pit.statuses.all %}
                                {% if status.status == 'moderate' %}
                                    <div class="story">
                                        Запрос поступил на сайт и ожидает
                                        модерации
                                    </div>
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_moderation_mark.svg"
                                                alt=""></div>
                                        <div class="history-label">На
                                            модерации
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}</div>
                                    </div>
                                {% elif status.status == 'done' %}
                                    <div class="story">
                                        Работа над устранением ямы продолжается
                                    </div>
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_done_mark.svg"
                                                alt=""></div>
                                        <div class="history-label">Устранено
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}</div>
                                    </div>
                                {% elif status.status == 'on_police' %}
                                    <div class="story">
                                        Запрос прошел модерацию, составлено
                                        обращение и
                                        отпрвлено в уполномоченные органы
                                    </div>
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_onpolice_mark.svg"
                                                alt=""></div>
                                        <div class="history-label">В полиции
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}
                                        </div>
                                    </div>
                                {% elif status.status == 'police_discard' %}
                                    <div class="story">
                                        В устранении отказано, по причине
                                        соответствию
                                        норм, невозможности удовлетворению
                                        запросов
                                        обращения или иных причин
                                    </div>
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_denied_mark.svg"
                                                alt=""></div>
                                        <div class="history-label">Отказано
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}</div>
                                    </div>
                                {% elif status.status == 'on_plane' %}
                                    <div class="story">
                                        Обращение одобрено уполномоченными
                                        органами,
                                        запланирован ремонт
                                    </div>
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_remote.svg"
                                                alt=""></div>
                                        <div class="history-label">Ремонт
                                            запланирован
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}</div>
                                    </div>
                                {% elif status.status == 'police_no_answer' %}
                                    <div class="history-line">
                                        <div class="history-img"><img
                                                src="/static/images/statuses/marker_noresponse_mark.svg"
                                                alt=""></div>
                                        <div class="history-label">Нет ответа
                                        </div>
                                        <div class="line flex-fill"></div>
                                        <div class="history-time">{{ status.created | date:'d.m.Y' }}
                                        </div>
                                    </div>
                                    <div class="story">
                                        Готовиться повторное обращение
                                    </div>
                                {% endif %}
                            {% endfor %}


                        </div>

                        {# TODO: в дальнейшем реализовать органы #}
                        <div class="organs">
                            <h4 class="label-title">Ответственные органы</h4>
                            <div class="organ-item">
                                <h5>Управление комфортной городской среды города
                                    Алматы</h5>
                                <p>г.Алматы, площадь Республики 4</p>
                                <a href="#">gov.kz›memleket/entities/almaty-us</a>
                            </div>
                            <div class="organ-item">
                                <h5>Управление комфортной городской среды города
                                    Алматы</h5>
                                <p>г.Алматы, площадь Республики 4</p>
                                <a href="#">gov.kz›memleket/entities/almaty-us</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 block p-3 shadow-none bg-gray rounded-2 card-page-right">
                    <h4 class="label-title">На карте</h4>
                    <div class="map">
                        <div id="map"></div>
                    </div>
                    {% if pit.images %}
                        <div class="photo-sector">
                            <h4 class="label-title">Фотографии</h4>
                            <div class="row">
                                {% for image in pit.images.all %}
                                    {% thumbnail image.image "540x340" crop="center" as im %}
                                        <div class="col-6 col-sm-4">
                                            <img class="card-img-top"
                                                 src="{{ im.url }}"
                                                 alt="Card image cap">
                                        </div>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}