header {
    background-color: #FFFFFF;
    border-bottom: none;
}

header .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer {
    background-color: #E5E5E5;
}

.logo-bottom {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.5;
}

.pit_address {
    display: block;
    text-decoration: none;
    text-align: initial;
    color: #C4C4C4;
    transition: all .1s;
}

.pit_photo:hover ~ .pit_address, .pit_address:hover {
    color: #F22222 !important;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .loginModal {
        width: 336px;
        margin: auto;
    }
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

a {
    text-decoration: none;
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

input:focus {
    outline: none;
}

select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: inherit;
    outline: 0;
    box-shadow: none;
}


.filter-block {
    padding: 0;
}

.filter-item {
    margin-bottom: 1.5rem;
}

.filter .accordion-button {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 1rem;
    background-color: inherit;
    box-shadow: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.filter .accordion-button.head {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 1rem;
    background-color: inherit;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: .5rem;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.filter-body {
    padding: 15px 20px;
}

.filter .accordion-item {
    border: none;
}

.filter .accordion-button:not(.collapsed)::after {
    background-image: url(/static/images/svg/angle-down.svg);
    transform: rotate(
            180deg
    );
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(/static/images/svg/angle-down.svg);
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
}

.filter .accordion-body {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

body {
    margin: 0;
    padding-top: 0;
    font-family: 'Roboto', sans-serif;
    color: #1c1c1c;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


main {
    background-color: #eeeeee;
}

.bg-light {
    background-color: #fff !important;
}

.logo {
    width: 143px;
    height: 47px;
}

.navbar-brand {
    margin-right: 2rem;
}

.nav-item {
    margin-right: .5rem;
    margin-left: .3rem;
}

.nav-link {
    font-weight: 500;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, .9);
    border-bottom: 2px solid #ee424d;
}

.text-y-black {
    color: #8c8c8c;
    font-weight: 500;
    line-height: 1.2;
    color: #1c1c1c;
}

.btn-accent {
    font-weight: 400;
    background-color: #ee424d;
    color: #ffffff;
}


.block {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 3px;
}

.demo-block {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .075);
}

.demo-block .nav {
    flex: none;
}

.demo-block-lvl2 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: 15px;
}

.border-radius-bn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.v-divider {
    width: 1px;
    height: 1.5rem;
    border-left: 1px solid rgba(0, 0, 0, .075);
}

ul.pagination {
    margin-bottom: 0;
}

.page-item > .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    border-radius: 50%;
    background-color: #f4f4f4;
    border: none;
    width: 2rem;
    height: 2rem;
    color: #1c1c1c;
    font-weight: 800;
    font-size: .875rem;
    text-align: center;
    line-height: 1.6rem;
    margin-right: .5rem;
}

.page-item > .page-link:hover {
    color: #FFFFFF;
    background-color: #ee424d;

}

.form-control.form-select {
    display: block;
    width: fit-content;
    padding: .375rem .75rem;
    padding-right: 2rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ee424d;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control.form-select option {
    color: #1c1c1c;
    font-weight: 600;
    padding: 2.5rem 0;
}

.input-group {
    align-items: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #ee424d;
    cursor: default;
}

.pagination-sm .page-item:first-child .page-link, .pagination-sm .page-item:last-child .page-link {
    border-radius: 50%;
}

.pagination-sm .page-item:last-child .page-link {
    margin-right: 0;
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #636363;
    background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #636363;
    background-color: #e7e7e7;
    background-clip: padding-box;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: .25em;
    vertical-align: middle;
    background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
    border-radius: 2px;
}

.angles-btn a {
    color: #1c1c1c;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    width: 2rem;
    height: 2rem;
    color: #1c1c1c;
    font-weight: 800;
    font-size: .875rem;
    text-align: center;
    line-height: 1.6rem;
    margin-right: .5rem;
    padding: .25rem .5rem;
}

.angles-btn a:hover {
    color: #fff;
    background-color: #ee424d;
}

.angles-btn.disabled a {
    color: #999;
    width: 2rem;
    height: 2rem;
}

.form-check-input:checked {
    background-color: #3a3a3a;
    border-color: #3a3a3a;
}

.filter-label {
    color: #1c1c1c;
    font-weight: bold;
    font-size: 1rem;
    background-color: inherit;
    box-shadow: none;
    margin-bottom: .5rem;
}

.form-group {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.filter-item .form-check {
    margin-bottom: .5rem;
    display: flex;
}

.filter-item .form-check:last-child {
    margin-bottom: 0;
}

.form-check .form-check-input {
    float: left;
    margin-right: 10px;
    margin-top: 0;
    flex: none;
}

.form-check > label {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-weight: 400;
}


.bg-remote {
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;


}

.bg-moderation {

    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;

}

.bg-onpolice {

    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;

}

.bg-noresponse {

    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;
}

.bg-denied {

    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;
}

.bg-done {

    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;
}

.checkbox-status {
    display: flex;
    height: fit-content;
}

.check-status {
    width: 100%;
    height: fit-content;
    padding: 10px;
    color: #1c1c1c;
    line-height: 1;
    background-color: #dedede;
    align-items: self-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.check-status img {
    margin-bottom: 5px;
}

.check-status-box {
    --bs-gutter-x: 10px;
    display: flex;
    flex-wrap: wrap;
}

.btn-outline-yama {
    font-size: .8rem;
    font-weight: 500;
    color: #1c1c1c;
    line-height: 1.2;
    border: 2px solid transparent;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.filter-block .btn-danger {
    border: 2px solid #ee424d;
    justify-content: center;
    margin-right: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: .25rem 1rem;
    background-color: #ee424d;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-block .btn-danger i {
    font-size: 1.3rem;
    color: #ad3147;
    margin-left: 10px;
}

.filter-block .btn-sec-white {
    border: 2px solid #ee424d;
    border-collapse: collapse;
    justify-content: center;
    margin-right: 5px;
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: .25rem 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-block .btn-sec-white i {
    font-size: 1.3rem;
    color: #999999;
    margin-left: 10px;
}

.filter-block .btn-sec-white:hover i {
    color: #1c1c1c;
}

.filter-block .btn-danger:hover i {
    color: #1c1c1c;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-check-input.onmod:checked[type=checkbox] {
    background-color: #8c8c8c;
}

.form-check-input.onpolice:checked[type=checkbox] {
    background-color: #ee424d;
}

.form-check-input.noresponse:checked[type=checkbox] {
    background-color: #ad3147;
}

.form-check-input.done:checked[type=checkbox] {
    background-color: #28b290;
}

.form-check-input.denied:checked[type=checkbox] {
    background-color: #1c1c1c;
}

.form-check-input.onremote:checked[type=checkbox] {
    background-color: #216662;
}

.btn-check:checked + .btn-outline-yama {
    background-color: #ffffff;
    color: #1c1c1c;
    border: 2px solid #3A9E98;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.2), 0px 4px 4px -2px rgba(24, 39, 75, 0.14);
}

.nav-pills > .nav-item:last-child {
    margin-right: 0;
}

.change_vis_btn {
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 10px;
    padding: .25rem 1rem;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.change_vis_btn > i {
    color: #ee424d;
    font-size: 1rem;;
}

.change_vis_btn > span {
    margin-left: 6px;
}

#filtercollapseOne {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.change_vis_btn.active {
    color: #fff;
    background-color: #ee424d;
}

.change_vis_btn.active > i {
    color: #1c1c1c;
}

.change_vis_btn:hover {
    color: #ffffff;
    background-color: #F16F76;
}

.change_vis_btn.active:hover {
    color: #fff;
    background-color: #ee424d;
}

.founded-label {
    font-size: .875rem;
    font-weight: 600;
    color: #999;
}

.founded-label > i {
    font-size: .875rem;
    font-weight: 600;
    color: #142F3A;
    font-style: normal;
}

.card-body {
    flex: 1 1 auto;
    padding: 0;
    font-size: 16px;
}

@media only screen and (max-width: 756px) {
    .card-body {
        flex: 1 1 auto;
        padding: 0;
        font-size: 14px;
    }
}

.def-card {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 2px;
    padding: 15px;
    padding-bottom: 5px;
}

.card-info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.def-card .card-title {
    margin-bottom: 5px;
}

.card-mid-info {
    display: block;

}

.card-mid-info .card-title {
    font-size: 1em;
    line-height: 1.2;
    color: #1c1c1c;
    font-weight: 600;
    text-decoration: none;
}

.card-mid-info .card-title:hover {
    color: #ee424d;
    text-decoration: underline;

}

.btn.card-btn {
    background-color: #ee424d;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0;
    color: #6c757d;
    font-size: .875em;
    font-weight: 600;
}

.card-info-top .text-muted {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.card-bot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.text-author {
    font-size: .875em;
    font-weight: 600;
    text-decoration: underline;
    color: #1c1c1c;
}

.text-author:hover {
    font-size: .875rem;
    font-weight: 600;
    text-decoration: underline;
    color: #ee424d;
}

.object-mark {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: .8em;
    width: fit-content;
}

.object-mark.moderation {
    background-color: #999999;
    color: #fff;
}

.object-mark img {
    margin-right: 6px;
}

.object-mark.remote {
    background-color: #216662;
    color: #ffffff;
}

.object-mark.onpolice {
    background-color: #ee424d;
    color: #fff;
}

.object-mark.done {
    background-color: #3A9E98;
    color: #ffffff;
}

.object-mark.noresponse {
    background-color: #ad3147;
    color: #ffffff;
}

.object-mark.denied {
    background-color: #1c1c1c;
    color: #ffffff;
}

.thumbnail-btn {
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    display: inline;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #000000cc;
    color: #ffffff;
}

.thumbnail-btn.like {
    top: 10px;
    right: 10px;
}

.thumbnail-btn.active {
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    top: 120px;
    right: 10px;
    display: inline;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #000000cc;
    color: #ee424d;
}

.thumbnail-btn.share {
    position: absolute;
    font-weight: 400;
    font-size: 1.2rem;
    display: inline;
    top: 60px;
    right: 10px;
}

.card-body > .card-title {
    font-size: 1rem;
    color: #8c8c8c;
    margin-top: 10px;

}

.likes-score {
    color: #212529;
    margin-bottom: 20px;

}

.card-quantity {
    margin-right: 3px;
}

.card-icon {
    color: #212529;
    font-size: 1.5rem;

}

.card-img-top {
    margin-right: 15px;
    height: 120px;
    width: 120px;
    border-radius: 5px;
}

@media only screen and (max-width: 756px) {
    .card-img-top {
        margin-right: 15px;
        height: 80px;
        width: 80px;
        border-radius: 5px;
    }
}

.deftype-label {
    line-height: 1rem;
    color: #999999;
}

.card-text {
    margin: 0;
}

.overlay .mask {
    opacity: 1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.overlay .mask:hover {
    opacity: 1;
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.overlay .mask:hover {
    opacity: 1;
    background-color: #000;
}


.bg-gray {
    background-color: #ececec;
}

.bg-white {
    background-color: #fff;
}

.pr-50 {
    padding-right: 50px;
}

.card-adress {
    font-size: 1rem;
    color: #8c8c8c;
    font-weight: 600;
}

.features-row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.parameter-label span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1c1c1c;
}

.label-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1c1c1c;
    margin-bottom: 20px;
}

.card-page-value {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-icon {
    color: #ee424d;
    font-size: 20px;
    margin-right: 6px;
}

.card-date {
    color: #999;
    margin-bottom: 0;
    line-height: 1rem;
}

.card-page-head {
    margin-bottom: 40px;
}

.card-page-author {
    font-size: 1.2rem;
    color: #1c1c1c;
    font-weight: 400;
    line-height: 1;
    padding-top: 15px;
    text-decoration: underline;
}

.mark {
    font-weight: 400;
    font-size: .8rem;
    border-radius: 5px;
    padding: 8px 10px;
    padding-right: 12px;
    line-height: 30px;
    font-size: .8rem;
    height: 44px;
    width: max-content;
    margin-right: 20px;
}

.mark.remote {
    background-color: #142F3A;
    color: #ffffff;
}

.mark.moderation {
    background-color: #ffffff;
    color: #1c1c1c;
}

.mark.onpolice {
    background-color: #ffffff;
    color: #1c1c1c;
}

.mark.noresponse {
    background-color: #ee424d;
    color: #ffffff;
}

.mark.denied {
    background-color: #BB2F37;
    color: #ffffff;
}

.mark.done {
    background-color: #3A9E98;
    color: #ffffff;
}


.value {
    font-weight: 600;
    font-size: 1.5rem;
}

.card-page-btns i {
    color: #ee424d;
    font-size: large;
}

.btn-sec-accent {
    font-weight: 500;
    border: 2px solid #ee424d;
    background-color: #fff;
    color: #1c1c1c;
}

.btn-sec-accent:hover {

    background-color: #F16F76;

}

.right-block-info strong {
    color: #1c1c1c;
}

.right-block-info .text-muted {
    font-size: 1rem;
    font-weight: 600;
}

.right-block-info .text-author {
    font-size: 1rem;
    font-weight: 600;
}

.desc {
    margin-bottom: 40px;
}

.history {
    margin-bottom: 40px;
}

.desc p {
    color: #8c8c8c;
    line-height: 1.5;
}

.history-img img {
    height: 36px;
    margin-right: 8px;
}

.history-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history-label {
    color: #3e3e3e;
    font-weight: 600;
}

.organs p {
    color: #8c8c8c;
    line-height: 1.5;
    margin-bottom: 0;
}

.organs a {
    color: #1c1c1c;
    text-decoration: underline;
}

.organs a:hover {
    color: #ee424d;
    text-decoration: underline;
}

.organ-item {
    margin-left: 20px;
    margin-bottom: 20px;
}

.organs h5 {
    color: #8c8c8c;
    font-size: 1rem;
    line-height: 1.5;
    color: #142f3a;
    margin-bottom: 0;
}

.card-page-head .relation {
    color: #8c8c8c;
    line-height: 1.5;
}

.story {
    color: #8c8c8c;
    line-height: 1.5;
    border-left: 2px solid #3A9E98;
    margin: 5px 20px;
    padding: 10px 28px;
}

.card-page-img {
    padding: 10px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.card-page-right .label-title {
    margin-bottom: 10px;
    margin-top: 15px;
}

.card-page-right {
    height: max-content;
}

.card-page {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
}

#wrapper {
    width: 100%
}

.error-box {
    height: 100%;
    /*position: fixed;*/
    top: 20%;
    width: 100%;
    background-color: #f4f4f4
}

.error-box .footer {
    width: 100%;
    left: 0;
    right: 0
}

.error-body {
    padding-top: 5%
}

.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px
}

.text-danger {
    color: #f33155
}

.text-muted {
    color: #8d9ea7
}

.m-b-40 {
    margin-bottom: 40px !important
}

.m-t-30 {
    margin-top: 30px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

@media only screen and (max-width: 520px) {
    .error-body h1 {
        font-size: 110px;
        font-weight: 700;
        line-height: 110px
    }
}

footer {
    background-color: #fff;
    padding-top: 50px;
}

footer img {
    height: 60px;
    margin-bottom: 10px;
}

footer p {
    font-size: 1rem;
    font-weight: bold;
    color: #999;
}

footer hr {
    width: 40%;
    color: #999;
}

.footer-mail i {
    color: #ee424d;
    font-size: 1.5rem;
    margin-right: 5px;
}

.footer-mail a {
    color: #1c1c1c;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.footer-mail a:hover {
    color: #ee424d;

}

.footer-links a {
    color: #1c1c1c;
    font-weight: 600;
    padding: .2rem 0;
    width: fit-content;
}

.footer-links a:hover {
    color: #ee424d;

}

.footer-title {
    color: #999;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-colum {
    margin-top: 41px;
}

.footer-media {
    padding: 1px;
    margin-right: 10px;
    font-size: 1.2rem;
    border: 2px solid #b0b0b0;
    border-radius: 50%;
    width: 42px !important;
    height: 42px;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-media svg {
    color: #1c1c1c;
    width: 100%;
}

.footer-media:hover {

    border: 2px solid #ee424d;

}

.version {
    background-color: #1c1c1c;
    margin-top: 50px;
}

.version-box {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    color: #b0b0b0;
    padding: 10px 0;
}