{% extends "base.html" %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 offset-2 text-justify">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam atque, autem dolorem doloremque ea eligendi eum
                    exercitationem fugit illum itaque maxime non odit praesentium
                    similique sit soluta tenetur vitae voluptatem!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Aliquam atque, autem dolorem doloremque ea eligendi eum
                    exercitationem fugit illum itaque maxime non odit praesentium
                    similique sit soluta tenetur vitae voluptatem!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
