<!doctype html>
<html lang="ru">
<head>
    {% load static active_link_tags %}

    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png"
          href="{% static "favicon.ico" %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>


    <title>{% block title %}-{% endblock %} Yama.kz - база ям
        Казахстана</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block extra_head %}
        {# Для вставки head на отдельно со страницы #}
    {% endblock %}
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'images/logo.svg' %}" alt="" width="30"
                     height="24" class="d-inline-block align-text-top logo">
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'index' %}  {% active_link 'pit_list' %}"
                           aria-current="page"
                           href="{% url 'index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"
                           style="color: #e2e2e2!important;">Блог</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="dropdown07" data-bs-toggle="dropdown"
                           aria-expanded="false"
                           style="color: #e2e2e2!important;" disabled>О нас</a>
                        {#                        <ul class="dropdown-menu" aria-labelledby="dropdown07">#}
                        {#                            <li><a class="dropdown-item" href="#">Action</a>#}
                        {#                            </li>#}
                        {#                            <li><a class="dropdown-item" href="#">Another#}
                        {#                                action</a></li>#}
                        {#                            <li><a class="dropdown-item" href="#">Something else#}
                        {#                                here</a></li>#}
                        {#                        </ul>#}
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% active_link 'pit_add' %}"
                                {% if not user.is_authenticated %}
                           href="" data-bs-toggle="modal"
                           data-bs-target="#loginModal"
                                {% else %}
                           href="{% url 'pit_add' %}"
                                {% endif %}>Добавить яму</a>
                    </li>
                </ul>
                <div class="mb-3 mb-lg-0">

                    {% if not user.is_authenticated %}
                        <a class=" text-y-black pe-3" data-bs-toggle="modal"
                           data-bs-target="#loginModal">Войти</a>
                        <button class="btn btn-accent primary"
                                type="submit" data-bs-toggle="modal"
                                data-bs-target="#registrationModal">
                            Регистрация
                        </button>
                    {% else %}
                        {# TODO: тут nexturl подключить #}
                        <span class="text-secondary pe-3">
                            {{ request.user.email }}
                        </span>
                        <a class="text-dark pe-3" href="{% url "logout" %}">Выйти</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>
</header>


<main>
    {% block content %}{% endblock %}
</main>

{% if not user.is_authenticated %}
    <!-- Modal -->
    <div class="modal" id="loginModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down loginModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Войти в свой аккаунт
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginModalForm" onsubmit="login(); return false;">
                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="email" class="form-control"
                                   name="username"
                                   placeholder="Введите ваш email" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control"
                                   name="password"
                                   placeholder="Введите ваш пароль" required>
                        </div>

                        <p class="errors text-danger text-center"
                           style="font-size: 0.8em;"></p>

                        <div class="text-center px-2">
                            <button type="submit"
                                    class="btn btn-danger w-100">Войти
                            </button>
                        </div>
                        <div class="text-center pt-3">

                            <a class="text-secondary" data-bs-toggle="modal"
                               data-bs-target="#forgetPasswordModal"
                               data-bs-dismiss="modal">Забыли пароль?</a>

                        </div>


                    </form>
                </div>
                <div class="modal-footer">

                    <div class="text-center w-100">

                        <a class="text-danger" data-bs-toggle="modal"
                           data-bs-target="#registrationModal"
                           data-bs-dismiss="modal">Регистрация</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal " id="registrationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down loginModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Регистрация
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registrationModalForm"
                          onsubmit="register(); return false;">

                        {% csrf_token %}

                        <div class="mb-3">
                            <input type="text" class="form-control"
                                   name="first_name"
                                   placeholder="Введите ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control"
                                   name="last_name"
                                   placeholder="Введите вашу фамилию" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control"
                                   name="email" placeholder="Введите ваш email"
                                   required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control"
                                   name="password1"
                                   placeholder="Введите ваш пароль" required>
                        </div>


                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="form-group g-recaptcha"
                             data-sitekey="6Lcl-7IaAAAAAAoLWFaKBCo6sXB3jqJ-zIDjmYvK"></div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input"
                                   style="width: 1em; height: 1em"
                                   name="check_user_license"
                                   id="checkUserLicense" required>
                            <label class="form-check-label"
                                   for="checkUserLicense">
                                я принимаю условия <a
                                    href="{% url 'user_license' %}"
                                    target="_blank">пользовательского
                                соглашения</a>
                            </label>
                        </div>

                        <p class="errors text-danger text-center"
                           style="font-size: 0.8em;"></p>

                        <div class="text-center px-2">
                            <button type="submit"
                                    class="btn btn-danger w-100">
                                Зарегистрироваться
                            </button>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">

                    <div class="text-center w-100">

                        <a class="text-danger" data-bs-toggle="modal"
                           data-bs-target="#loginModal"
                           data-bs-dismiss="modal">Войти в аккаунт</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal " id="forgetPasswordModal" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down loginModal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Восстановление пароля
                    </h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="forgotModalForm"
                          onsubmit="forgot_password(); return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="email" class="form-control"
                                   name="email" placeholder="Введите ваш email">
                        </div>


                        <p class="errors text-danger text-center"
                           style="font-size: 0.8em;"></p>

                        <div class="text-center px-2">
                            <button type="submit"
                                    class="btn btn-danger w-100">
                                Восстановить
                            </button>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">

                    <div class="text-center w-100">

                        <a class="text-danger" data-bs-toggle="modal"
                           data-bs-target="#loginModal"
                           data-bs-dismiss="modal">Войти в аккаунт</a>

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endif %}



<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="footer-logo"><img
                        src="{% static 'images/logo.svg' %}" alt=""></div>
                <p>Мы стремимся обеспечить безопасную и качественную среду на
                    дорогах в Казахстане и упростить процесс составления
                    обращений по устранению дефектов дорожного покрытия и
                    прилегающей территории.</p>
                <hr>
                <span class="footer-mail"><a href="mailto:support@yama.kz"><i
                        class="bi bi-envelope-fill"></i>support@yama.kz</a></span>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6 footer-colum">
                <div class="footer-title">Страницы</div>
                <nav class="nav flex-column footer-links">
                    <a class="nav-link" href="{% url 'pit_list' %}">База ям</a>
                    <a class="nav-link" href="#">Блог</a>
                    <a class="nav-link" {% if not user.is_authenticated %}
                       href="" data-bs-toggle="modal"
                       data-bs-target="#loginModal"
                    {% else %}
                       href="{% url 'pit_add' %}"
                    {% endif %}>Добавить яму</a>
                </nav>
            </div>
            <div class="col-lg-2 col-md-4  col-sm-4 col-6 footer-colum">
                <div class="footer-title">О проекте</div>
                <nav class="nav flex-column footer-links">
                    <a class="nav-link {% active_link 'about' %}"
                       href="{% url 'about' %}">О проекте</a>
                    <a class="nav-link {% active_link 'faq' %}"
                       href="{% url 'faq' %}">Вопросы\Ответы</a>
                    <a class="nav-link" href="#">Напишите нам</a>
                </nav>
            </div>
            <div class="col-lg-3 col-md-4  col-sm-4 col-12 footer-colum">
                <div class="footer-title">Мы в соц. сетях</div>
                <nav class="nav flex-row footer-links">
                    <a class="nav-link footer-media" href="https://www.instagram.com/official.yama.kz/" target="_blank">
                        <svg width="20" height="19" viewBox="0 0 20 19"
                             fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.74162 4.407C7.05211 4.407 4.88273 6.46747 4.88273 9.02197C4.88273 11.5765 7.05211 13.6369 9.74162 13.6369C12.4311 13.6369 14.6005 11.5765 14.6005 9.02197C14.6005 6.46747 12.4311 4.407 9.74162 4.407ZM9.74162 12.0223C8.00358 12.0223 6.58271 10.6768 6.58271 9.02197C6.58271 7.36717 7.99936 6.02164 9.74162 6.02164C11.4839 6.02164 12.9005 7.36717 12.9005 9.02197C12.9005 10.6768 11.4797 12.0223 9.74162 12.0223ZM15.9326 4.21822C15.9326 4.81668 15.4251 5.29465 14.7993 5.29465C14.1692 5.29465 13.6659 4.81267 13.6659 4.21822C13.6659 3.62378 14.1734 3.1418 14.7993 3.1418C15.4251 3.1418 15.9326 3.62378 15.9326 4.21822ZM19.1507 5.31072C19.0788 3.86879 18.732 2.59154 17.6199 1.53921C16.5119 0.486884 15.1672 0.15753 13.649 0.0852327C12.0844 0.000885965 7.39464 0.000885965 5.82998 0.0852327C4.31608 0.153513 2.97132 0.482867 1.85915 1.53519C0.746973 2.58752 0.404441 3.86477 0.328322 5.3067C0.239518 6.79281 0.239518 11.2471 0.328322 12.7332C0.400212 14.1752 0.746973 15.4524 1.85915 16.5047C2.97132 17.5571 4.31185 17.8864 5.82998 17.9587C7.39464 18.0431 12.0844 18.0431 13.649 17.9587C15.1672 17.8904 16.5119 17.5611 17.6199 16.5047C18.7278 15.4524 19.0746 14.1752 19.1507 12.7332C19.2395 11.2471 19.2395 6.79682 19.1507 5.31072ZM17.1293 14.3278C16.7995 15.115 16.1609 15.7215 15.3279 16.0388C14.0804 16.5088 11.1202 16.4003 9.74162 16.4003C8.36303 16.4003 5.39865 16.5047 4.15538 16.0388C3.32654 15.7255 2.68799 15.119 2.35391 14.3278C1.85915 13.1429 1.97332 10.3314 1.97332 9.02197C1.97332 7.71259 1.86337 4.89701 2.35391 3.71616C2.68376 2.92892 3.32231 2.32243 4.15538 2.00513C5.40288 1.53519 8.36303 1.64364 9.74162 1.64364C11.1202 1.64364 14.0846 1.53921 15.3279 2.00513C16.1567 2.31841 16.7952 2.92491 17.1293 3.71616C17.6241 4.90103 17.5099 7.71259 17.5099 9.02197C17.5099 10.3314 17.6241 13.1469 17.1293 14.3278Z"
                                  fill="#1C1C1C"/>
                        </svg>

                    </a>
                    <a class="nav-link footer-media" href="https://t.me/yama_kz" target="_blank">
                        <svg width="21" height="18" viewBox="0 0 21 18"
                             fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.1344 2.16245L17.1163 16.3959C16.8886 17.4004 16.2948 17.6504 15.451 17.1772L10.8523 13.7885L8.63339 15.9226C8.38784 16.1682 8.18246 16.3735 7.7092 16.3735L8.03959 11.6901L16.5627 3.9885C16.9332 3.65812 16.4823 3.47506 15.9867 3.80545L5.45007 10.44L0.913956 9.0202C-0.0727392 8.71214 -0.090598 8.03351 1.11933 7.56025L18.862 0.724818C19.6835 0.416755 20.4023 0.90787 20.1344 2.16245Z"
                                  fill="#1C1C1C"/>
                        </svg>
                    </a>
{#                    <a class="nav-link footer-media" href="#">#}
{#                        <svg width="11" height="19" viewBox="0 0 11 19"#}
{#                             fill="none" xmlns="http://www.w3.org/2000/svg">#}
{#                            <path d="M10.1236 10.147L10.641 6.88939H7.40626V4.77545C7.40626 3.88424 7.85812 3.01553 9.30685 3.01553H10.7774V0.242051C10.7774 0.242051 9.44291 0.0219727 8.16701 0.0219727C5.50313 0.0219727 3.7619 1.58221 3.7619 4.40666V6.88939H0.800781V10.147H3.7619V18.022H7.40626V10.147H10.1236Z"#}
{#                                  fill="#1C1C1C"/>#}
{#                        </svg>#}
{#                    </a>#}
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid version">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="version-box">
                        <span> 2021 год</span>
                        <span> v1.0.1</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


<script>
    {% if not user.is_authenticated %}
        function login() {
            console.log('login');
            $.ajax({
                type: "POST",
                url: '{% url 'login' %}',
                data: $('#loginModalForm').serialize(),
                success: function (response) {
                    if (response['success']) {
                        document.location.reload();
                    } else {
                        $('#loginModalForm .errors').text(response['error']);
                    }

                }
            });
        }

        function register() {
            console.log($('#registrationModalForm').serialize());
            $.ajax({
                type: "POST",
                url: '{% url 'register' %}',
                data: $('#registrationModalForm').serialize(),
                success: function (response) {
                    if (response['success']) {
                        document.location.reload();
                    } else {
                        $('#registrationModalForm .errors').text(response['error']);
                    }

                }
            });
        }

        function forgot_password() {
            $.ajax({
                type: "POST",
                url: '{% url 'forgot_password' %}',
                data: $('#forgotModalForm').serialize(),
                success: function (response) {
                    if (response['success']) {
                        document.location.reload();
                    } else {
                        $('#forgotModalForm .errors').text(response['error']);
                    }

                }
            });
        }
    {% endif %}
</script>

<script src="{% static 'js/script.js' %}"></script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(76498837, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/76498837"
              style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->


</body>
</html>